table {
  width: 500px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.table-autisti {
  max-width: 500px;
  align-self: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
.table-filter {
  max-width: 500px;
  align-self: center;
}
