<div class="container">
  <app-top-nav [sidenav]="leftSidenav"></app-top-nav>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content" #content (scroll)="child.onWindowScroll(content)">
        <div style="padding: 20px" >
          <router-outlet></router-outlet>
          <app-scroll-top #child (scrollToTop)="scrollToTop(content)"></app-scroll-top>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

